.calculate {
  border-radius: 100px 100px 0 0;
  padding: 150px 0;
  background: $blackColor;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 116px;
    z-index: 99;
    background: linear-gradient(to right, transparent, $blackColor);
    pointer-events: none;
  }
  &__title {
    font-weight: 600;
    font-size: 54px;
    line-height: 70px;
    color: $whiteColor;
    margin-bottom: 24px;
  }
  &__desc {
    font-size: 20px;
    line-height: 26px;
    color: $whiteColor;
    max-width: 390px;
  }
  &__text {
    font-size: 16px;
    line-height: 21px;
    color: $whiteColor;
    max-width: 390px;
    margin-bottom: 31px;
  }
  &__inner {
    display: flex;
  }
  &-content {
    width: calc(504px - 48px);
    position: relative;
    z-index: 100;
    background: $blackColor;
    margin-right: 48px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 10000%;
      background: $blackColor;
    }
    &__item {
      & + & {
        margin-top: 50px;
      }
    }
  }
  &-info {
    width: calc(100% - 504px - 56px);
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 24px;
      color: $whiteColor;
    }
  }
  &-progress {
    display: flex;
    align-items: center;
    margin: 0 -12px 38px;
    &__item {
      padding: 0 12px;
      &:not(:last-child) {
        position: relative;
        z-index: 2;
        &::after {
          content: "";
          position: absolute;
          right: -12px;
          top: calc(50% - 1px);
          width: 24px;
          height: 1px;
          background: $secColor;
          z-index: -2;
        }
        .calculate-progress__item-num {
          &::after {
            z-index: -1;
            content: "";
            position: absolute;
            left: 100%;
            top: calc(50% - 1px);
            width: 24px;
            height: 1px;
            background: $whiteColor;
            transition: transform .2s ease, background .2s ease;
            transform-origin: left center;
            transform: scaleX(0);
          }
        }
      }
      &-num {
        width: 30px;
        height: 30px;
        font-weight: 500;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secColor;
        border: 1px solid $secColor;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity .2s ease 0s, color .2s ease, border-color .2s ease, background .2s ease;
        position: relative;
        @media (min-width: 1025px) {
          &:hover:not(.passed) {
            color: $whiteColor;
            border-color: $whiteColor;
          }
        }
        &.disabled {
          pointer-events: none;
        }
        &.current {
          background: $whiteColor;
          border-color: $whiteColor;
          color: $blackColor;
          pointer-events: none;
          transition-delay: 0s, .1s, 0s, 0s;
          .calculate-progress__item-icon {
            transition-delay: 0s;
          }
          &::after {
            transform: scaleX(.5) !important;
          }
        }
        &.passed {
          border-color: #21B17D;
          background: #21B17D;
          color: transparent;
          .calculate-progress__item-icon {
            opacity: 1;
          }
          &::after {
            transform: scaleX(1) !important;
            background: #21B17D !important;
          }
        }
      }
      &-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        height: 10px;
        transition: opacity .1s ease .2s;
        opacity: 0;
        svg {
          stroke: $blackColor;
        }
      }
    }
  }
  &-type {
    &-slider {
      &::before {
        content: "";
        position: absolute;
        left: -48px;
        top: 0;
        width: 48px;
        height: 100%;
        background: $blackColor;
        z-index: 10;
      }
    }
    &__slider-wrapper {
      width: 100%;
      position: relative;
    }
    &__slider-pagination {
      justify-content: center;
      display: flex;
      margin-top: 36px;
      .swiper-pagination-bullet {
        opacity: 1;
        margin: 0 10px !important;
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid $whiteColor;
        transition: background .2s ease;
        &.swiper-pagination-bullet-active {
          background: $whiteColor;
        }
      }
    }
    &__slider-btn {
      width: 36px;
      height: 36px;
      border: 1px solid $thirdColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none !important;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      z-index: 100;
      &:focus,
      &:active {
        outline: none !important;
      }
      @media (min-width: 1025px) {
        transition: background .2s ease, border-color .2s ease, opacity .2s ease;
        &:hover {
          background: $whiteColor;
          border-color: $whiteColor;
          svg {
            stroke: $blackColor;
          }
        }
      }
      &.swiper-button-disabled {
        opacity: .6;
        pointer-events: none;
      }
      svg {
        width: 16px;
        height: 8px;
        stroke: $thirdColor;
        @media (min-width: 1025px) {
          transition: stroke .2s ease;
        }
      }
    }
    &__slider-prev {
      transform: translate(-48px, -100%) rotate(90deg);
      left: 0
    }
    &__slider-next {
      transform: translate(48px, -100%) rotate(-90deg);
      right: 0;
    }
    &-slider {
      overflow: visible;
      &__inner {
        height: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #333333;
        border-radius: 20px;
        padding: 20px 10px 60px;
        cursor: pointer;
        transition: background .2s ease;
        @media (min-width: 1025px) {
          &:hover {
            background: $whiteColor;
            .calculate-type-slider__title {
              color: $blackColor;
            }
          }
        }
        &.active {
          background: $whiteColor;
          .calculate-type-slider__title {
            color: $blackColor;
          }
        }
      }
      &__preview {
        margin-top: auto;
      }
      &__title {
        margin-top: auto;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $whiteColor;
        @media (min-width: 1025px) {
          transition: color .2s ease;
        }
      }
    }
  }
  &-model {
    &__text {
      line-height: 21px;
      color: $thirdColor;
      margin-bottom: 8px;
    }
    &-search {
      margin-bottom: 41px;
      &__inp-wrapper {
        margin: 0 auto 0 0;
        padding-left: 0;
        padding-right: 48px;
      }
      &__inp {
        padding-left: 27px;
      }
    }
    &-nav {
      margin-top: 24px;
      &__inner {
        cursor: pointer;
        opacity: .4;
        transition: opacity .2s ease;
        &.active {
          opacity: 1;
        }
        @media (min-width: 1025px) {
          &:hover {
            opacity: 1;
          }
        }
      }
      &__preview {
        margin-bottom: 14px;
      }
      &__title {
        line-height: 21px;
        color: $whiteColor;
        padding-bottom: 7px;
        border-bottom: 2px solid $whiteColor;
      }
    }
    &__main-wrapper {
      margin-top: 73px;
    }
    &-main {
      border: 1px solid $thirdColor;
      border-radius: 20px;
      &__slide {
        padding: 40px;
        &.swiper-slide-active {
          position: relative;
          z-index: 1;
        }
      }
      &__title {
        text-align: center;
        font-size: 24px;
        line-height: 31px;
        color: $whiteColor;
        margin-bottom: 48px;
        span {
          font-weight: 600;
        }
      }
      &__inner {
        display: flex;
        justify-content: space-around;
        padding-right: 80px;
      }
      &__photo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        transform: translateY(-10%);
      }
      &__content {
        width: 460px;
      }
      &__list {
        width: 100%;
        &-item {
          & + & {
            margin-top: 16px;
          }
        }
        &-inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 8px;
          border-bottom: 1px solid $thirdColor;
        }
        &-title,
        &-price {
          font-size: 20px;
          line-height: 26px;
          color: $whiteColor;
        }
        &-price {
          margin-left: 20px;
        }
      }
      &__btns {
        display: flex;
        align-items: center;
        margin-top: 48px;
      }
      &__btn-wrapper {
        width: 50%;
        & + & {
          margin-left: 36px;
        }
      }
      &__btn {
        width: 100%;
        padding: 10px 0;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__btn {
    margin-right: 50px;
  }
}