.main-intro {
  padding-top: calc(24px + 122px);
  position: relative;
  &__section {
    position: relative;
  }
  &-slider {
    overflow: visible;
    z-index: unset;
    .swiper-wrapper {
      overflow: hidden;
    }
    .swiper-wrapper {
      z-index: unset;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      z-index: unset;
    }
  }
  &-pagination {
    position: absolute;
    left: 50% !important;
    bottom: 20px !important;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 100px;
      height: 2px;
      background: $decColor;
      opacity: 1;
      margin: 0 !important;
      transition: background .2s ease;
      border-radius: 0;
      &:not(:first-child) {
        margin-left: 20px !important;
      }
      &.swiper-pagination-bullet-active {
        background: $blackColor;
      }
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $thirdColor;
    cursor: pointer;
    @media (min-width: 1160px) {
      transition: border-color .2s ease;
      &:hover {
        border-color: $blackColor;
      }
    }
    svg {
      display: block;
      width: 20%;
      stroke: $blackColor;
    }
  }
  &__prev {
    left: 12px;
  }
  &__next {
    right: 12px;
    transform: translateY(-50%) rotateY(180deg);
  }
}