.err {
  padding: 122px 20px 0;
  &__inner {
    display: flex;
  }
  &-photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img {
      transform: translateX(-17%);
    }
  }
  &-content {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 232px 20px 200px;
    &__inner {
      max-width: 560px;
    }
    &__title {
      margin-bottom: 24px;
    }
    &__desc {
      margin-bottom: 48px;
      font-size: 20px;
      line-height: 150%;
      max-width: 532px;
    }
  }
}