.callback {
  &--about {
    padding: 0 0 150px;
  }
  &--contacts {
    padding: 0 0 150px;
  }
  &--warranty {
    padding: 150px 0;    
  }
  &--device,
  &--repair {
    padding-top: 150px;
  }
  &--nonwarranty,
  &--tablet {
    padding-bottom: 150px;
  }
  &__section {
    border-radius: 20px;
    background: $blackColor;
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }
  &-content {
    padding: 110px 0 65px 140px;
    position: relative;
    z-index: 2;
    width: calc(671px + 110px);
    &__title {
      margin-bottom: 24px;
    }
  }
  &-photo {
    width: calc(100% - 671px - 110px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-form {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inp-wrapper,
    &__texarea-wrapper {
      width: 100%;
    }
    &__inp-wrapper {
      margin-bottom: 16px;
    }
    &__texarea-wrapper {
      height: 113px;
      margin-bottom: 24px;
    }
    &__btn-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
    }
    &__label {
      text-align: center;
      color: $secColor;
    }
  }
}