.find {
  &--phones,
  &--tablet,
  &--whatch,
  &--tv,
  &--household {
    padding-top: 150px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-top: 16px;
  }
  &__nav-wrapper {
    position: relative;
    margin: 35px 0 40px;
    &::before,
    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      top: 0;
      height: 100%;
      width: 24px;
      background: linear-gradient(270deg, #FFFFFF 13.33%, rgba(255, 255, 255, 0) 100%, #FFFFFF 100%);
    }
    &::before {
      left: 0;
      transform: rotateY(180deg);
    }
    &::after {
      right: 0;
    }
  }
  &__nav-inner {
    position: relative;
  }
  &-nav {
    overflow: visible;
    .swiper-wrapper {
      will-change: transform;
    }
    &__slide {
      will-change: transform;
      height: auto;
      width: fit-content !important;
      &-inner {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-bottom: 17px;
        height: 100%;
        position: relative;
        &--moc {
          .find-nav__slide-photo {
            width: 23px;
            height: 47px;
            margin-right: 8px;
          }
          .find-nav__slide-name {
            width: calc(100% - 23px - 8px);
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 40%;
          height: 1px;
          background: $blackColor;
          transform: translateX(-50%);
          opacity: 0;
          transition: width .22s ease, opacity .15s ease;
        }
        &.active {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
      &-photo {
        width: 50px;
        height: 50px;
        margin-right: 16px;
      }
      &-name {
        font-weight: 500;
        font-size: 20px;
        width: calc(100% - 50px - 16px);
      }
    }
  }
  &__main-inner {
    padding: 0 140px;
  }
  &-main {
    border-radius: 20px;
    border: 1px solid $blackColor;
    &__inner {
      padding: 60px 120px 80px;
    }
    &__head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: -20px;
      &-item {
        width: 50%;
        padding: 20px;
      }
      &-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 20px 19px;
        border-radius: 10px;
        background: $lightWhiteMainColor;
      }
      &-icon {
        width: 38px;
        height: 38px;
        margin-right: 20px;
      }
      &-title {
        font-weight: 500;
        width: fit-content;
      }
    }
    &__list {
      margin-top: 40px;
      &-item {
        & + & {
          margin-top: 20px;
        }
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid #999999;
      }
      &-content {
        margin-right: 20px;
      }
      &-title {
        font-weight: 500;
        font-size: 20px;
      }
      &-desc {
        margin-top: 4px;
        font-size: 20px;
        line-height: 150%;
      }
      &-price {
        font-weight: 500;
        font-size: 20px;
        white-space: nowrap;
      }
    }
  }
  &__btns-wrapper {
    margin-top: 48px;
  }
  &__btns-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-wrapper {
    & + & {
      margin-left: 80px;
    }
  }
}