.footer {
  background: $blackColor;
  &-mobile {
    display: none;
  }
  &-top {
    &__inner {
      padding: 70px 0 60px;
      display: flex;
      justify-content: space-between;
    }
  }
  &-bot {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    &__inner {
      padding: 19px 0 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 16px;
  }
  &-contacts {
    margin-right: 10px;
    &__link {
      display: flex;
      align-items: center;
      & + & {
        margin-top: 16px;
      }
      &-icon {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        svg {
          fill: rgba($whiteColor, .6);
          stroke: rgba($whiteColor, .6);
          @media (min-width: 1025px) {
            transition: stroke .2s ease;
          }
          @media (max-width: 1024px) {
            transition: stroke .1s ease;
          }
        }
      }
      &-text {
        color: rgba($whiteColor, .6);
        @media (min-width: 1025px) {
          transition: color .2s ease;
        }
        @media (max-width: 1024px) {
          transition: color .1s ease;
        }
      }
      @media (min-width: 1025px) {
        &:hover {
          .footer-contacts__link-icon svg {
            stroke: $whiteColor;
          }
          .footer-contacts__link-text {
            color: $whiteColor;
          }
        }
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
      }
    }
    &__social {
      margin-top: 44px;
      &-list {
        display: flex;
      }
      &-item {
        & + & {
          margin-left: 16px;
        }
      }
      &-link {
        width: 30px;
        height: 30px;
        svg {
          fill: $whiteColor;
        }
      }
    }
  }
  &-navs {
    display: flex;
    justify-content: space-between;
    max-width: 1087px;
    width: 100%;
    & + .footer-contacts__social {
      display: none;
    }
    &__nav {
      max-width: 204px;
    }
    &__title {
      &-icon {
        display: none;
      }
    }
    &__item {
      & + & {
        margin-top: 16px;
      }
    }
    &__link {
      font-weight: 400;
      font-size: 14px;
      color: $thirdColor;
      @media (min-width: 1025px) {
        transition: color .2s ease;
        &:hover {
          color: $whiteColor;
        }
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
        &:active {
          color: $whiteColor;
        }
      }
    }
  }
  &-link-wrapper {
    display: flex;
    align-items: center;
    &__icon {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      svg {
        stroke: rgba($whiteColor, .6);
      }
    }
    &__link {
      color: rgba($whiteColor, .6);
      font-size: 14px;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 1px;
        background: rgba($whiteColor, .6);
      }
      &::before {
        width: 100%;
      }
      &::after {
        width: 40%;
        opacity: 0;
      }
      @media (min-width: 1025px) {
        &:hover {
          & + .footer-link-wrapper__arrow {
            transform: translateY(5px);
          }
          &::before {
            display: none;
          }
          &::after {
            width: 100%;
            opacity: 1;
            transition: width .22s ease .1s, opacity .15s ease .1s;
          }
        }
      }
    }
    &__arrow {
      margin-left: 10px;
      width: 10px;
      height: 8px;
      @media (min-width: 1025px) {
        transition: transform .2s ease;
      }
      svg {
        stroke: rgba($whiteColor, .6);
      }
    }
  }
  &-switcher {
    margin: 0 auto 0 150px;
  }
}