.seo-block {
  margin-top: 150px;
  &--main {
    background: $lightPurpleColor;
    padding: 100px 0 150px;
    .seo-block-article__photo {
      padding-right: 197px;
    }
    .seo-block-top {
      margin: 0 -15px 90px;
    }
    .seo-block-head {
      margin: 0 -15px 90px;
    }
    .seo-block-article {
      margin-bottom: 155px;
    }
  }
  &--other {
    background: $lightWhiteMainColor;
    padding: 150px 0 120px;
    .seo-block-article__photo {
      padding-left: 177px;
    }
    .seo-block-top {
      margin: 0 -15px 100px;
    }
    .seo-block-head {
      margin: 0 -15px 100px;
    }
    .seo-block-article {
      margin-bottom: 100px;
    }
  }
  &__more-wrapper {
    display: none;
  }
  &__inner-title {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 24px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $blackColor;
    }
  }
  &__inner-text {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 32px;
    max-width: 670px;
  }
  &-desc {
    display: flex;
    &__item {
      & + & {
        margin-left: 28px;
      }
    }
  }
  &-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__side {
      width: 50%;
      padding: 0 15px;
      &:first-child {
        transform: translateY(-10px);
        text-align: right;
      }
    }
  }
  &-head {
    display: flex;
    &__content,
    &__photo {
      width: 50%;
      padding: 0 15px;
    }
    &__photo {
      display: flex;
      &-item {
        width: 50%;
        border-radius: 20px;
        overflow: hidden;
        & + & {
          margin-left: 30px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &-article {
    display: flex;
    &__photo,
    &__content {
      width: 50%;
    }
    &__photo {
      &-inner {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__content {
      &-photo {
        margin-top: 90px;
        border-radius: 20px;
        overflow: hidden;
        &--laptop {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &-bot {
    display: flex;
    &__side {
      width: calc(370px + 51px);
      margin-right: 158px;
      padding-left: 30px;
      position: relative;
      &-title {
        margin-bottom: 24px;
      }
      &-subtitle {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $secColor;
        transform-origin: left center;
        transform: rotate(90deg) translate(0%, -30%);
      }
      &-desc {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 16px;
      }
      &-label {
        font-size: 14px;
        line-height: 150%;
        color: $thirdColor;
      }
    }
    &__content {
      width: calc(100% - 158px - 370px - 51px);
      display: flex;
      &-item {
        font-size: 20px;
        line-height: 150%;
        & + & {
          margin-left: 30px;
        }
      }
    }
  }
}