.about-certificates {
  padding-top: 150px;
  &-top {
    max-width: 810px;
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__desc {
    font-size: 20px;
    line-height: 150%;
  }
  &-slider  {
    &__slide {
      &.swiper-slide-active {
        .about-certificates-slider__photo {
          transform: scaleY(1);
          padding: 0 95px;
          img {
            transform: scaleY(1);
          }
        }
      } 
    }
    &__inner {
      display: block;
      position: relative;
      transition: height .3s ease;
    }
    &__icon {
      pointer-events: none;
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 68px;
      background: $blackColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &-inner {
        width: 24px;
        height: 24px;
        svg {
          stroke: $whiteColor;
        }
      }
    }
    &__photo {
      display: block;
      transform: scaleY(.5);
      overflow: hidden;
      transition: all .5s ease;
      padding: 0 65px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scaleY(1.5);
        transition: transform .5s ease;
      }
    }
  }
}