.about-certificates {
  padding-top: 150px;
  &-top {
    max-width: 810px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__desc {
    font-size: 20px;
    line-height: 150%;
  }
  &-slider  {
    &__slide {
      height: auto;
      &.swiper-slide-active {
        .about-certificates-slider__photo {
          img {
            transform: scale(.8);
          }
        }
      } 
    }
    &__inner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &__icon {
      pointer-events: none;
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 68px;
      background: $blackColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &-inner {
        width: 24px;
        height: 24px;
        svg {
          stroke: $whiteColor;
        }
      }
    }
    &__photo {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(.7);
        transition: all .5s ease;
      }
    }
  }
}