.repair-price {
  padding-top: 80px;
  & .container > .repair-price-content__btns {
    display: none;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
  }
  &-content {
    width: 560px;
    padding-right: 110px;
    &__btns {
      display: flex;
      align-items: center;
    }
    &__btn {
      margin-right: 66px;
    }
  }
  &-info {
    width: calc(100% - 560px);
    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &-list {
    width: 100%;
  }
  &-item {
    & + & {
      margin-top: 20px;
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title,
    &__price {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }
    &__title {
      max-width: 500px;
    }
    &__label {
      margin-left: 10px;
    }
    &__line {
      height: 1px;
      flex: 1;
      background: $blackColor;
      margin: 0 24px;
    }
    &__price {
      white-space: nowrap;
    }
  }
  &-benefits {
    margin-top: 25px;
    width: 100%;
    &__inner {
      display: flex;
      overflow: hidden;
      border-radius: 10px;
      padding: 20px;
      background: $lightWhiteMainColor;
    }
    &__item {
      width: 50%;
      & + & {
        border-left: 1px solid $decColor;
      }
      &-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
      }
      &-icon {
        width: 38px;
        height: 38px;
        margin-right: 20px;
      }
      &-title {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}