.warranty-info {
  padding: 150px 0;
  background: #F4F2F0;
  &__title {
    max-width: 950px;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    max-width: 480px;
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    margin: 0 -36px;
  }
  &__slider-wrapper {
    display: none;
  }
  &__column {
    width: calc(100% / 3);
    padding: 0 36px;
    & + & {
      border-left: 1px solid $decColor;
    }
  }
  &-item {
    & + & {
      margin-top: 60px;
    }
    &__inner {
      height: 100%;
      padding-left: 56px;
      position: relative;
    }
    &__num {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $blackColor;
      color: $blackColor;
      font-weight: 500;
      line-height: 1;
      border-radius: 50%;
    }
  }
}