.warranty-intro {
  & .container > .warranty-intro-content__title,
  & .container > .warranty-intro-content__desc {
    display: none;
  }
  &__inner {
    display: flex;
  }
  &-content {
    width: 810px;
    &__title {
      margin-bottom: 28px;
    }
    &__desc {
      font-size: 20px;
      margin-bottom: 59px;
      max-width: 670px;
      width: 100%;
      line-height: 150%;
    }
    &__photo {
      max-width: 666px;
      width: 100%;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-info {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 60px;
      }
      &-title {
        margin-bottom: 40px;
      }
    }
  }
  &__list-wrapper {
    width: calc(100% - 810px + 30px);
    padding-left: 30px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% + 30px);
    margin: -15px;
    counter-reset: warrantyList;
    &__item {
      width: 50%;
      height: 50%;
      padding: 15px;
      &-head {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-inner {
        height: 100%;
        background: $lightWhiteMainColor;
        border-radius: 20px;
        padding: 99px 36px 36px;
        position: relative;
        &::before {
          counter-increment: warrantyList;
          content: counter(warrantyList);
          position: absolute;
          left: 24px;
          top: 0;
          font-family: "Mont";
          font-weight: 700;
          font-size: 100px;
          line-height: 150%;
          color: rgba($blackColor, .05);
        }
      }
      &-icon {
        width: 110px;
        height: 110px;
        margin-bottom: 61px;
      }
      &-btn {
        display: none;
      }
      &-content {
        position: relative;
      }
      &-tooltip-icon {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        &::before {
          right: 100%;
          top: 50%;
          transform: translate(-1px, -50%);
          border-left: 30px solid $whiteColor;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
      &-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
      }
      &-desc {
        margin-top: 16px;
        line-height: 150%;
      }
    }
  }
  &-tooltip {
    padding: 24px 40px;
    top: -65px;
    right: 35px;
    &__photos {
      display: flex;
      margin-bottom: 25px;
    }
    &__photo {
      & + & {
        margin-left: 16px;
      }
      &:nth-child(1) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 30%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__article {
      max-width: 483px;
    }
  }
}