.nonwarranty-intro {
  &__title {
    max-width: 530px;
    margin-bottom: 24px;
  }
  &__desc {
    font-size: 20px;
    line-height: 26px;
    max-width: 525px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__slider-wrapper {
    display: none;
  }
  &-item {
    width: 50%;
    padding: 15px;
    &:not(:first-child) {
      .nonwarranty-intro-item__inner {
        display: flex;
        align-items: center;
        background: $purpleColor;
        border-radius: 20px;
        overflow: hidden;
        height: 100%;
      }
    }
    &__photo {
      width: 390px;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 69px 0 53px;
      width: calc(100% - 390px);
    }
    &__title {
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 16px;
    }
    &__desc {
      line-height: 21px;
    }
  }
}