.post-intro {
  &__title {
    margin-bottom: 32px;
  }
  &-date {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &__icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      svg {
        fill: $blackColor;
      }
    }
    &__text {
      line-height: 150%;
      color: $thirdColor;
    }
  }
  &__article {
    p {
      margin-bottom: 15px;
    }
  }
}