*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  &:focus,
  &:active,
  &:hover {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

form {
  position: relative;
  .inp-wrapper,
  .texarea-wrapper,
  .callback-form__btn-wrapper,
  .modal-contact__btn-wrapper,
  .callback-form__label,
  .modal-contact__label,
  .modal-repair__btn-wrapper,
  .search__btn,
  .search__inp {
    transition: opacity .2s ease;
  }
  &.loading {
    pointer-events: none;
    .loader {
      display: flex;
    }
    .inp-wrapper,
    .texarea-wrapper,
    .callback-form__btn-wrapper,
    .modal-contact__btn-wrapper,
    .callback-form__label,
    .modal-contact__label,
    .modal-repair__btn-wrapper,
    .search__btn,
    .close-search,
    .open-search,
    .search__inp {
      opacity: .6;
    }
  }
  &.sent {
    [type="submit"] {
      opacity: .6;
      pointer-events: none;
    }
  }
}

input,
button,
textarea,
select {
  font: inherit;
  width: 100%;
  outline: none;
  &:focus {
    outline: none;
  }
}

input {
  border: none;
  outline: none;
  background: none;
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  display: inline-block;
  &:focus {
    outline: none;
  }
}

button,
[type=button],
[type=submit] {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  width: fit-content;
  &:focus {
    outline: none;
  }
}

[data-link] {
  cursor: pointer;
}