$whiteColor: #fff;
$lightWhiteMainColor: #F4F4F4;
$lightWhiteSecColor: #F1F1F3;
$lightGreyMainColor: #F1F1F3;
$blackColor: #000;
$secColor: #666;
$thirdColor: #999;
$decColor: #ccc;
$lightPurpleColor: #E7E8F0;
$darkenPurpleColor: #E7E8F0;
$purpleColor: #EDEEF6;
$fontName: "IBMPlexSans";
$fontSize: 16px;
$fontWeight: 400;
$fontStyle: normal;
$lineHeight: 150%;
$containerInnerWidth: 1650px;
$containerPaddings: 20px;
$containerTotalWidth: $containerInnerWidth + ($containerPaddings * 2);
$containerArticleInnerWidth: 1090px;
$containerArticleTotalWidth: $containerArticleInnerWidth + ($containerPaddings * 2);