.menu {
  max-width: 1169px;
  width: 100%;
  margin-left: auto;
  &-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      @media (min-width: 1161px) {
        &:hover > {
          .submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
          .menu-list__head .menu-list__link::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    &__arrow {
      display: none;
    }
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      display: inline;
      padding-bottom: 8px;
      position: relative;
      @media (min-width: 1161px) {
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 40%;
          height: 1px;
          background: $blackColor;
          transform: translateX(-50%);
          opacity: 0;
          @media (min-width: 1161px) {
            transition: width .22s ease, opacity .15s ease;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -15px;
          width: 100%;
          height: 15px;
          background: transparent;
        }
      }
    }
  }
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  background: $whiteColor;
  width: 100%;
  padding: 40px 0 70px;
  @media (min-width: 1161px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s ease;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    @media (min-width: 1161px) {
      &:hover .submenu-item__inner:not(:hover) {
        opacity: .6;
      }
    }
  }
  &-item {
    padding: 8px;
    &--other {
      width: calc(100% / 6);
    }
    &--phone {
      width: calc(100% / 8);
    }
    &__inner {
      height: 100%;
      position: relative;
      @media (min-width: 1161px) {
      transition: opacity .2s ease;
        &:hover {
          .submenu-item__title::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
      &.active {
        opacity: 1 !important;
        .submenu-item__title::after {
          width: 100%;
          opacity: 1;
        }
        .submenu-item__icon svg {
          transition-delay: .1s;
          opacity: 1;
          transform: rotate(90deg);
        }
      }
    }
    &__link {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    &__preview {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;
      background: $lightWhiteMainColor;
      height: 190px;
      margin-bottom: 20px;
    }
    &__title-wrapper {
      display: inline-flex;
      align-items: center;
    }
    &__title {
      font-weight: 500;
      line-height: 21px;
      padding-bottom: 8px;
      display: inline-flex;
      align-items: center;
      position: relative;
      @media (min-width: 1161px) {
        &:hover::after {
          width: 100%;
          opacity: 1;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 40%;
        height: 1px;
        background: $blackColor;
        transform: translateX(-50%);
        opacity: 0;
        @media (min-width: 1161px) {
          transition: width .22s ease, opacity .15s ease;
        }
      }
    }
    &__icon {
      width: 12px;
      height: 12px;
      margin-left: 8px;
      svg {
        opacity: 0;
        @media (min-width: 1160px) {
          transition: opacity .2s ease, transform .2s ease .2s;
        }
      }
    }
  }
  &-slider {
    padding-top: 74px;
    &__inner {
      display: flex;
      flex-wrap: wrap;
      margin: -12px;
    }
    &-item {
      width: calc(100% / 6);
      padding: 12px;
      &__inner {
        height: 100%;
        display: flex;
        position: relative;
        padding: 5px 12px 4px 24px;
        border-left: 1px solid $blackColor;
        @media (min-width: 1161px) {
          &:hover {
            .submenu-slider-item__title {
              background-size: 100% calc(100% - 0em);
            }
          }
        }
      }
      &__link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
      &__title-wrapper {
        padding: 6px 0 0 25px;
        max-width: 157px;
        flex: 1;
      }
      &__title {
        @media (min-width: 1161px) {
          background-image: linear-gradient(transparent calc(100% - 1px),$blackColor 0,$blackColor);
          background-repeat: no-repeat;
          background-size: 0 calc(100% - 0em);
          transition: .3s ease;
        }
      }
    }
  }
}

.menu-mob {
  display: none;
}